<%- form_for(@item, :url => project_yogo_data_path(@project, @model, @item),

                    :html => { :enctype => 'multipart/form-data' },
                    :builder => YogoDataFormBuilder) do |f| -%>
<table>
  <thead>
  </thead>
  <tbody>
      <%- @model.usable_properties.each do |p| %>
      <tr>
        <td><%= f.label(p.display_name, p.display_name.to_s.titleize) %></td>
        <td><%= f.field_for_param(p) %></td>
      </tr>
      <%- end %>
      <tr>
        <td></td><td><%= f.submit %></td>
      </tr>
  </tbody>
</table>

<%- end -%>

