/ %h1#data-content-title
/   #subtitle
/     = link_to(@project.name, project_path(@project))
/     = image_tag('icons/private_16.png', :title => 'Private Project') if @project.is_private?
/   = @model.public_name
  
/ #data-content-actions
/   .content-action-links
/     = link_to("Edit #{@model.name.demodulize.titleize}", 
/       edit_project_yogo_data_path(@project, @model.name.demodulize, @item.yogo_id), 
/       :class => 'medium-button-link')
/     = link_to("Delete #{@model.name.demodulize.titleize}", 
/       project_yogo_data_path(@project, @model.name.demodulize, @item.yogo_id), :method => :delete, 
/       :confirm => "There is no undo.\n Continue?", :class => 'medium-button-link')

#content-block
  %table#data-show
    %thead
    %tbody
      - @model.usable_properties.each do |p|
        %tr
          %td.data-label= p.display_name.titleize
          %td.data-value= yogo_show_helper(@item, p, @project, @model, true)