%div.dataset-table.dataset-details{:id => "#{dataset.to_param}-dataset-details"}
  %table
    %thead
      %tr
        %th Name
        %th Type
        %th Units
    %tbody
      - for param in dataset.usable_properties
        %tr{:class => cycle("cycle-odd","cycle-even")}
          %td= param.display_name
          %td= Yogo::Types.dm_to_human(param.type)
          %td= param.units
            