<div id="yogo-model-list">
  <ul>
  <%- @models.each do |m| %>
    <li> <%= link_to(m.name.split('::')[-1].titleize, project_yogo_model_path(@project, m.name.split('::')[-1])) %></li>
  <%- end %>
  </ul>
</div>