<h1 class='section-title'>Create a new model in <%= h @project.name %></h1>
<div class='fitted-content'>
  <div class='small-centered-content boxed'>
  <%= render(:partial => 'form') %>
  </div>
</div>