<h1>Sources</h1>

<table>
  <tr>
  </tr>
	<% @sources.each do |source| %>
	  <tr>
		<td><%= source.id %>:<%= source.source_description %>
	    <td><%= link_to 'Show', his_source_path(source.id) %></td>
	  </tr>
	<%end%>
</table>

<br />

<%= link_to 'New Source', new_his_source_path %><P>

