<div id='no-projects'>
  <h2 class='section-title'>Welcome to the Yogo Data Management Toolkit!</h2>
  <div id='centered-content'>
    <h3>INTUITIVE</h3>
    <p>The Yogo Toolkit was designed and tested with scientists in mind, not database administrators. The user interface and workflow is simple and straightforward. More sophisticated aspects of our database technology will improve performance, but stay tucked out of sight.</p>

    <h3>POWERFUL</h3>
    <p>With the help of Yogo's specially designed database editor, you can create your own custom database from scratch in minutes. Or, if you choose, you can start off by importing data from a comma-separated values (CSV) file to create your database.</p>

    <h3>FLEXIBLE</h3>
    <p>Unlike the majority of data management tools, Yogo makes it effortless to revise and develop your database as you go. You can make changes at any time.</p>

  </div>
  <div class="button-big">
    <%= link_to(image_tag("create-project-big.jpg"), start_wizard_path() ) %>
  </div>
</div> <!-- End no-projects div -->

