
  <div id="mock-roadmap">
    <%= image_tag('mock-roadmap-2.jpg') %>
  </div>
  
  <div id="content">
    <div id="mockup-csv-question">
      <h3>A whole lotta info about CSV.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>With some pictures, too.</h3>
      <p>And some more text.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div> 
    <div class="mock-button-row">
      <%= link_to(image_tag('mock-import.jpg'), "") %>
      <%= link_to(image_tag('mock-from-scratch.jpg'), "/mockup/edit") %>
    </div>
  </div>  <!-- End content div -->
    