
  <div id="mock-roadmap">
    <%= image_tag('mock-roadmap-1.jpg') %>
  </div>
  
  <div id="content">
    <div id="mockup-name-project">
      <%= image_tag('mock-create-project.jpg') %>
    </div> 
    <div class="mock-button-row">
      <div class="mock-button">
        <%= link_to(image_tag('mock-save.jpg'), "/mockup/csv_question") %>
      </div>
      <div class="mock-button">
        <%= link_to(image_tag('mock-cancel.jpg'), "/mockup/index_no_projects") %>
      </div>
    </div>
  </div>  <!-- End content div -->
    
