[submodule "vendor/plugins/yogo-authz"]
	path = vendor/plugins/yogo-authz
	url = git://github.com/yogo/yogo-authz.git
[submodule "vendor/plugins/yogo-settings"]
	path = vendor/plugins/yogo-settings
	url = git://github.com/yogo/yogo-settings.git
[submodule "vendor/gems/dm-persevere-adapter-0.16.0"]
	path = vendor/gems/dm-persevere-adapter-0.16.0
	url = git://github.com/yogo/dm-persevere-adapter.git
