*.rbc
\#*\#
*~
SourceImages
.rvmrc
*.cache
log/*.log*
*.pid
tmp/**/*
.DS\_Store
db/cstore/**
db/persvr/*
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
db/**/*.sqlite3
db/*.db
db/**/*.db
*.tmproj
*.sw
.svn
gfembed*/*
vendor/bundled/*
!vendor/bundled/**/cache/*
bin/*
tmtags
vendor/persevere/*
vendor/persvr/*
public/files/*
public/uploads/*
.bundle/*
.yardoc/*
doc/yard/*
doc/yardstick/*
yogo_assets/*
public/stylesheets/compiled
htmlreports/**/*
app/stylesheets/screen.css