*.rbc
\#*\#
*~
SourceImages
.rvmrc
*.cache
log/*.log*
*.pid
tmp/**/*
.DS\_Store
db/cstore/**
db/persvr/*
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
db/**/*.sqlite3
db/*.db
db/**/*.db
*.tmproj
*.sw
.svn
gfembed*/*
vendor/bundled/*
!vendor/bundled/**/cache/*
bin/*
tmtags
vendor/persevere/*
vendor/persvr/*
public/files/*
public/uploads/*
.bundle/*
.yardoc/*
doc/yard/*
doc/yardstick/*
yogo_assets/*
public/stylesheets/compiled
htmlreports/**/*
app/stylesheets/screen.css
doc/voeis-demo/s6/jquery.js
doc/voeis-demo/s6/jquery.microsoft.js
doc/voeis-demo/s6/jquery.slideshow.js
doc/voeis-demo/s6/print.css
doc/voeis-demo/s6/projection.css
doc/voeis-demo/s6/screen.css
doc/voeis-demo/voeis.css
doc/voeis-demo/voeis.html
doc/voeis-demo/voeis.pdf.html
temp_data/*
doc/voeis-demo/voeis.debug.html
doc/voeis-demo/voeis.debug.text
doc/voeis-demo/voeis.debug.text.erb