*~
SourceImages
.rvmrc
*.cache
log/*.log*
*.pid
tmp/**/*
.DS\_Store
db/cstore/**
db/persvr/*
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
db/*.db
*.tmproj
Capfile
*.sw
.svn
gfembed*/*
vendor/bundled/*
!vendor/bundled/**/cache/*
bin/*
tmtags
vendor/persevere/*
public/files/*
public/uploads/*
.bundle/*
Gemfile.lock
.yardoc/*
doc/yard/*
doc/yardstick/*
yogo_assets/*
public/stylesheets/compiled
