.extra-small
  %h1#content-title
    #subtitle Edit Role
    = resource.name
    
.extra-small.box
  .rbox
    = link_to("Delete Role", system_role_path(resource), 
      :method => :delete, :class => 'button-link fright', 
      :confirm => "Are you sure you want to delete the #{resource.name} role?\nThere is no undo! Continue?" )
    = render(:partial => 'form')
