<h1>Editing Yogo Project</h1>

<% form_for(@yogo_project) do |f| %>
  Project Name: <%= f.text_field :name %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', yogo_project_path(@yogo_project.id) %> |
<%= link_to 'Back', yogo_projects_path %>
