<h1>New Yogo Project</h1>

<% form_for(@yogo_project) do |f| %>
  Project Name: <%= f.text_field :name %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', yogo_projects_path %>
