-#variable partial

-#select Sample inforamtion -site, timestamp, etc

-#list divs for each column accordian style
-#each div contains variable selection
#sample_options
  Sample options go here
#accordion
  - @columns.each do |col|
    %h3 
      %a{:href => "#"}
        = "Column" + col.to_s
    %div{:id => col.to_s}
      = "Column content"
      = link_to "NEXT", :onclick => 


:javascript  
  $(document).ready(function() {
  $("#accordion").accordion();
  });
  