<div id='fitted-content' >

  <div id="roadmap">
    <%= image_tag('mock-roadmap-2.jpg') %>
  </div>

  <div class="large-centered-content">

    <h3>Pre-loading your data with a spreadshhet.</h3>
    <p>
      If you already have your data in a spreadsheet, you can load in your data and dataset description all at once.  This is a convenient way to get started.
    </p>
    <h3>Requirements</h3>
    <p>1. The spreadsheets that can be loaded into the Yogo Data Management Toolkit must be in a particular format.  First, they must be in "comma separated values" format (often described as a "CSV" file).  Any modern spreadsheet application can export a spreadsheet in CSV format.</p>
    <p>2. The top three rows of the spreadsheet are special header information that the Yogo Data Management Toolkit needs to determine the character of the data columns.</p>
    <p>
      &mdash; The first row contains the names of the variables (the column name)<br />
      &mdash; The second row contains the type of the values (text, number, etc.)<br />
      &mdash; The third row contains the units for the values (centimeters, degrees, etc.)<br />
    </p>
    <h3>Example</h3>
    <p>For example, a CSV file of </p>
    <div class='button-links'>
      <%= link_to('Import CSV', project_path, :class => 'button-link') %>
      <%= link_to('Design Data from Scratch', new_project_yogo_model_path(@project), :class => 'button-link') %>
    </div>
  </div> 
</div>