.small-centered.text-center
  = image_tag('mock-roadmap-2.jpg')

.small-centered
  %h2.text-center Describe your data or upload spreadsheets
  %h4.text-center Before continuing we need to know about the data you would like to store.<br />There are two ways to describe your data:
  / Choose Your Destiny!
  .scratch.rbox
    %h4.text-center
      = link_to('Edit Datasets', kefed_editor_project_path(@project), :class => 'button-link center')
    %p If you don't have any data yet, you can describe the data you anticipate on collecting. The description is flexible, and allows you to update the description at any time.
  .spreadsheet.rbox
    %h4.text-center
      = link_to('Import Spreadsheet CSV', import_csv_path(@project), :class => 'button-link center')
    %p If you already have your data in a spreadsheet, you can load in your data and dataset description all at once.  This is a convenient way to get started.
  =clear_break
