<div id='roadmap'>
  <%= image_tag('mock-roadmap-1.jpg') %>
</div>

<div id='centered-content'>
  <% form_for(@project, :builder => YogoFormBuilder) do |form| %>
    <%= render :partial => 'projects/form', :locals => {:f => form} %>
    <div class='form-element'>
      <div class='box' >&nbsp;</div>
      <%= form.submit('Save and Continue' ) %>
      <%= link_to('Cancel', root_path, :class => 'cancel' ) %>
    </div>
  <% end %>
</div>
