<div class='small-centered'>
  <%= image_tag('mock-roadmap-1.jpg') %>
</div>

<div class='small-centered boxed'>
  <% form_for(@project, :builder => YogoFormBuilder) do |form| %>
    <%= render :partial => 'projects/form', :locals => {:f => form} %>
  
    <div class='form-element'>
      <div class='box' >&nbsp;</div>
      <%= form.submit('Save and Continue', :class => 'button-link') %>
      <%= link_to('Cancel', root_path, :class => 'cancel') %>
    </div>
  
  <% end %>
</div>
