#content
  = form_tag("save_site") do 
    -site_options = "Hash.new"""
    -@sites.all(:order => [:site_name.asc]).each do |site|
      -site_options = site_options + "<option value="+site.id.to_s+">"+site.site_name+"</option>"
    =select_tag("site", site_options)
    = submit_tag("Submit")
    = link_to('Cancel', projects_path(@project), :class => 'icon icon-cancel')