%h2
  / = link_to(parent.name, project_path(@project) )

-form_for(:site, resource, :url => project_sites_path(@project), :builder => YogoFormBuilder) do |f|
  =f.text_field("site_name")
  =f.text_field("site_code")
  =f.text_field("latitude")
  =f.text_field("longitude")
  =f.text_field("state")
  =f.submit("Submit")