%h2
  #{@site.name}

%table 
  -@site.properties.each do |prop|
    %tr
      %td
        %b
          =prop.name
      %td
        =@site[prop.name]
= link_to('Cancel', project_path(@project), :class => 'icon icon-cancel')