- content_for(:javascripts) do
  :javascript
    dojo.require("dijit.dijit");
    dojo.require("dijit.Declaration");
    dojo.require("dojox.layout.TableContainer");
    dojo.require("dijit.form.TextBox");
    
%h2
  #{resource.name}

%table
  - resource.properties.each do |prop|
    %tr
      %td
        %b
          #{prop.name.to_s.capitalize}
      %td
        #{resource[prop.name]}

= link_to('Cancel', project_path(@project), :class => 'icon icon-cancel') 