/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~ Overall Layout Elements ~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*
Link Brown: #703824
Header Turq: #214A5D
*/

* {
	margin:0;
	padding:0;
} 

html, body {
	height: 100%;
}
/*LKW's note: I took out these bits (from sticky footer) but need 
to do cross-browser testing to make sure they're not needed.*/
/*body > #container {height: auto; min-height: 100%;} 
#main {padding-bottom: 100px;}*/  /* must be same height as the footer */

a {
  text-decoration: none;
  color:#703824;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Verdana, Sans-Serif;
}

p {
  margin: 0.5em;
  line-height: 1.1em;
}

h1,h2,h3,h4,h5{
  color:#333;  
  font-weight: normal;
  margin: 0px 10px 10px 10px;
}

h1 {
  font-size:1.5em;
  margin: 0px 0px 10px -20px;
  width: 856px;
}

h2 {
  font-size:1.3em;
}

h3 {
  font-size:1.2em;
  font-weight:bold;
}

h4 {
  font-size:1.1em;
  font-weight:bold;
}


.section-title {
  text-align:center;
  padding:12px;
  background:#eee;
/*  margin-bottom: 12px;*/
}


.errorExplanation h2 {
  font-size:16px;
  color:#990000;
  font-weight:bold;
}

.fieldWithErrors {
  display:inline;
}

.notice, .error {
  text-align: center;
  width:500px;
  margin:0px auto;
  padding: 5px 10px;
  border:1px solid #aaa;
}
.notice{background-color:#DFD;}
.error{ background-color:#FDD;}

/*Used to distinguish alternating rows in lists, wherever they occur*/
.alternate-rows0 {
  background:#EEE;
}

/*This is here (in part) so the footer will stay at the bottom of pages*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
 display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix { 
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~ Container, Content, Breadcrumbs ~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#header {
  height:93px;
  background-color: #666;
  margin-bottom: 10px;
}

#container {
  padding: 0px 10px 10px 10px;
  margin: 0px;
}

#content {
  padding: 0px 10px 20px 10px;
}
#fitted-content {
  width: 860px;
}
#liquid-content{
  padding-left: 200px;
  margin-top: 50px;
}
#search-tab {
  background-image: url(../images/shadow-bk.png) repeat-x fixed top;
  position:absolute;
  top:100px;
  left:420px;
  border:2px solid #255d71;
  border-top: 1px solid transparent;
  font-size:0.9em;
  padding: 7px 3px 4px 3px;
  text-align:center;
  width:450px;
}

#search-tab form{
  font-size: .9em;
}

#search-tab .button-link{
  font-size: .9em;
  padding: 3px 2px 2px 2px
}

#footer {
/*  position: relative;*/
/*  margin-top: -100px; /* negative value of footer height */*/
  height: 100px;
  clear: both;
  text-align: center;
}

.large-centered-content {
  width: 700px;
  margin: 20px auto;
}

.medium-centered-content {
  width:600px;
  margin: 20px auto;
}

.small-centered-content {
  width: 500px;
  margin: 20px auto;
}

.boxed {
  border: 1px dotted #999;
  padding: 10px;
}

#breadcrumbs {
  font-size:0.9em;
  padding:0 0 12px 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~ Users  ~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



#user-bar {
  float:right;
  padding:8px 20px 0 0;
}

  #log-link {
    font-size:15px;
  }

#user-session-login {
  margin:auto;
  padding:20px;
  width:400px;
  text-align:center;
  background:#ffffdd;
  border:2px solid #ddd;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#sidebar {
  width:175px;
  float:left;
  padding-left:8px;
  margin-right:8px;
  border-right:1px solid #ddd;
}

  .nav-group {
    margin:12px 0;
  }

  #home-title {
    width:48px;
    padding:0 0 0 3px;
    margin:10px 0;
    border-bottom:5px #cccc99 solid;
  }
  
  #nav-tools {
    margin-top:24px;
    padding:6px 0 0 0;
    border-top:1px dotted #888;
  }

  #sidebar ul {
    padding:0px;
    margin:3px 5px 0 5px;
    list-style: none;
  }

  #sidebar ul li {
    margin-left: 10px;
    padding:5px 0 0 0px;
  }

    #list-models ul li {
      list-style-image: url("../images/nested_bullet.gif");
    }

    #list-attributes ul li {
      /*list-style:none;*/
      list-style-image: url("../images/nested_bullet_2.gif");
    }

  #sidebar ul li.highlighted-menu-item {
    font-weight: bold;
    border-left: 1px solid #888;
    padding-left:2px;
    background-color: #EEE;
  }

  #sidebar-search {
    text-align:center;
    margin-top:20px;
  }
  
  #sidebar-search input {
    margin:0px 12px 6px 0;
  }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~ Projects ~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.project-block {
  padding-top: 10px;
  overflow: auto;
  border-bottom: 1px dotted #888;
}

#create-project-button{
  position: absolute;
  top: 160px;
  left: 730px;
}
  
.project-icon {
  width:80px; 
  float:left;
}

.project-text {
  float:left; 
  width:500px;
}

#project-remove-link {
  margin-top:12px;
  border-top:1px dotted #888;
	padding:8px 0 0 0;
}

#project-show, #model-show {
	padding:12px 0;
}

#project-show-row td, #model-show-row td {
	padding:3px 8px;
  border-bottom:1px dotted #888;
  vertical-align:bottom;
}

#project-search ul {
  list-style-type:none;
}

.dashboard-table {font-size:0.8em; margin-left:32px;}
.dashboard-table th {font-weight:normal; min-width:50px;}
.dashboard-table td {text-align:center;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~ Models ~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#model-edit {
	padding:20px 12px;
}
  
  .model-edit-label {
    float:left;
    width:8em;
    text-align:right;
    margin-right:0.5em;
  }
  
  .model-edit-input {
    float: left;
  }
  
  .model-edit-input input {
    background:#eee;
  }

#model-show-row td {
	color:#000;
}

#model-action-links {
	padding:12px;
}

#model-action-links a{
	padding:0 12px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~ Data ~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#yogo-data-list ul {
  margin:0;
  padding:0;
}

#yogo-data-list ul li {
  list-style-type: none;
}

#data-index {
  float:left;
  overflow: auto;
  width:680px;
  padding:20px 10px;
}

#data-index-table {
  border:1px dotted #214a5d;
  border-right:none;
  border-left:none;
  padding:12px;
  margin-top:20px;
  border-collapse: collapse;
}

  #data-index-table h3 {
    text-align:center;
  }

  #data-index-table th, #data-show th {
  	padding:8px;
  }

  #data-index-table td, #data-show td {
    padding:4px;
    border: 1px dotted #AAA;
    max-height: 20px;
  }

  .data-index-table-actions {
    text-align:center;
  }
  
  th.data-index-table-actions {
    min-width: 60px;
  }

#add-data-link {
  font-size:1.2em;
  padding:16px 0 0 0;
}

#pagination-links {
  width:720px;
  float:left;
  width:680px;
  padding:20px 10px;
	/*padding:12px;*/
}

#pagination-links strong {
  color:#214A5D;
  font-size:1.1em;
}

#search-data {
  margin-bottom:20px;
}

#upload {
	margin:20px 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~ Forms ~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
form .buttons{
  width: 50%;
  float: right;
  margin-top: 20px;
  border: 1px solid #999;
/*  text-align: right;*/
}

form .form-element {
  width: 100%;
  display: block;
  padding: 10px 0px;
  overflow: hidden;
}

form .cancel {
  margin-left: 50px;
}

form input, form textarea, form select {
  font-family: inherit;
  font-size: inherit;
}

form textarea {
  height:100px;
  width: 60%;
}


form .box {
  display: block;
  width: 30%;
  float: left;
  padding-right: 0.8em;
}

form .box label {
  display: block;
  float: right;
  padding: 2px 0px 2px 0px;
/*  outline: black thin solid;*/
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~ Tutorial~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.wrapper { 
  border: 1px solid #CCC; 
}
.ui-tabs, .ui-widget {
  padding: 0px;
}

.ui-widget-content {
  border: 0px;
  /*padding: 10px 10px 10px 10px;*/
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~ Model Editor ~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

ul#sortable {
  list-style: none;
}

ul#sortable li{
  padding-top: 0.5em;
  padding-bottom:0.5em;
  display: block;
/*  height: 2em;*/
  clear: both;
}

ul#sortable .grippie {
  float: left;
  padding:4px 0 0 3px;
  cursor: move;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~ Unmangled stuff ~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.button-links {
  overflow: auto;
  margin: 0px auto;
  width: 505px;
}

.button-links a {
  width: 230px;
  margin: 5px;
  float: left;
  text-align: center;
  display: block;
}

.button-link {
  border: 1px solid #666;  
  padding: 5px;
  background-color: #F2F2F2;
  color: #703824;
}

.button-link:hover{
  background-color: #E2E2E2;
  text-decoration: none;
}


#roadmap {
  text-align: center;
  margin: 10px 10px 40px 10px;
}

.button-big {text-align:center; margin-bottom:60px;}
.left { float: left;}
.right { float:right; }

/*
#mockup-intro {margin-left:30px; width:860px;}
#mockup-intro h2, #mockup-new-user h2 {text-align:center; padding:12px; background:#eee;}
#mockup-new-user {margin-left:120px; width:700px;}
#mockup-new-user h3 {color:#255d71; margin-left:100px; font-weight:bold; margin-top:12px;}
#mockup-new-user p {width:500px; margin-left:120px;}
#mock-roadmap {text-align:center;}
#mockup-name-project, #mockup-csv-question {margin-left:200px; width:600px;}
#mock-search-tab {margin-left:490px; margin-top:-5px;}
#mockup-show-project {float:left; width:500px;}
.mock-project-block {margin:12px 0 0 120px; float:left; border-bottom: 1px dotted #888;}
.mock-project-icon {width:80px; float:left;}
.mock-project-text {float:left; width:460px;}
.mock-button-row {text-align:center; width:940px; margin:auto;}
.mock-button {display:inline; padding:0 30px 0 40px; }
.mock-button-small {float:right;}
.mock-data, .mock-data-zoom {padding:8px 0 12px 20px; margin-left:8px; border-left:2px solid #888;}
.mock-data-zoom {border:none; padding-left:0;}
.mock-data td, .mock-data-zoom td {min-width:100px; padding:2px 4px 2px 4px;}
.mock-table-input {border:1px solid #888;}
.dashboard-table {font-size:0.8em; margin-left:32px;}
.dashboard-table th {font-weight:normal; min-width:50px;}
.dashboard-table td {text-align:center;}
*/
/*-- These are the sliding divs on the Manage Data page --*/
h2.trigger {
  background: url("../images/mock-div-button.jpg") no-repeat;
  height: 31px;
  width: 260px;
  padding: 2px 16px 2px 2px;
}
h2.trigger a {
  color: #000;
  font-size:0.8em;
  text-decoration: none;
  padding: 8px 0 2px 16px;
  display: block;
}
