a {text-decoration: none; color: #002B8A;}

/*#content {
    margin: 0 0 0 12em;
    padding: 8px;
    overflow: auto;
    height: 450px; 
    width: 630px;
    width: 635px;
	float: top;
}*/

#nav_bar {
    background-color:#fff;
    color: #666;
    font-size:1em;
    line-height: 1.3em;
    padding:0 .7em .25em .7em;
    width:12em;
    border:1px solid #cccccc;
    float:left; 
}

#nav_bar h2 {
    color: #333;
    font-size:1.1em;
}

#nav_bar ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0 10px 0 10px;
    // display:inline;
    // padding:0px;
}

#nav_bar li {
    margin-left: 30px;
    width: 80%;
    display: list-item;
    //margin-left: 0px;
}

#nav_bar li.tuning {
    margin-left: 0px;
}