/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~ Overall Layout Elements ~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*
Link Brown: #703824
Header Turq: #214A5D
*/

* {
	margin:0;
	padding:0;
} 

html, body, #container {
	height: 100%;
}
/*LKW's note: I took out these bits (from sticky footer) but need 
to do cross-browser testing to make sure they're not needed.*/
/*body > #container {height: auto; min-height: 100%;} 
#main {padding-bottom: 100px;}*/  /* must be same height as the footer */

a {
  text-decoration: none;
  color:#703824;
}

a img {
  border: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Verdana, Sans-Serif;
}

p {
  margin: 0.8em;
}

input {
  border: 1px solid #AAA;
  padding: 3px;
}

h1 {
  color:#333;
  font-size:1.5em;
  font-weight:normal;
}

h2 {
  color:#333;
  font-size:1.3em;
  font-weight:normal;
}

h3 {
  color:#333;
  font-size:1.2em;
  font-weight:normal;
}

.errorExplanation h2 {
  font-size:16px;
  color:#990000;
  font-weight:bold;
}

.fieldWithErrors {
  display:inline;
}

.notice {
  text-align:center;
  width:500px;
  margin:auto;
	margin-bottom:20px;
  border:1px solid #aaa;
  background:#ddd;
}

.alternate-rows0 td {
  background:#EEE;
}

/*This is here (in part) so the footer will stay at the bottom of pages*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix { 
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~!~~~~ Container and Content ~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#container {
  width:950px;
  margin:auto;
}

#content {
  float:left;
  overflow: auto;
  width:700px;
  padding:20px 10px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~ Header and Users  ~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#header {
  padding:0;
  background:url('../images/header.png') no-repeat;
  height:111px;
}

#user-bar {
  float:right;
  padding:8px 20px 0 0;
}

  #log-link {
    font-size:15px;
  }

#user-session-login {
  margin:auto;
  padding:20px;
  width:400px;
  text-align:center;
  background:#ffffdd;
  border:2px solid #ddd;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#sidebar {
  width:175px;
  float:left;
  padding-left:8px;
  margin-right:8px;
  border-right:1px solid #ddd;
}
	
	.nav-group {
		margin:12px 0;
	}

  #home-title {
    width:48px;
    padding:0 0 0 3px;
    margin:10px 0;
    border-bottom:5px #cccc99 solid;
  }
  
  #nav-tools {
    margin-top:24px;
    padding:6px 0 0 0;
    border-top:1px dotted #888;
  }

  #sidebar ul {
    padding:0px;
    margin:3px 5px 0 15px;
  }

  #sidebar ul li {
    margin-left: 10px;
    padding:5px 0 0 0px;
    list-style-image: url("../images/bullet.gif");
  }

  #sidebar ul li.highlighted-menu-item {
    font-weight: bold;
    border-left: 1px solid #888;
    padding-left:2px;
    background-color: #EEE;
  }

  #sidebar ul li:hover {
    background-color: #EEE;
  }
  
  #sidebar-search {
    text-align:center;
    margin-top:20px;
  }
  
  #sidebar-search input {
    margin:0px 12px 6px 0;
  }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~ Projects ~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#project-remove-link {
	padding:12px;
}

#project-show, #model-show {
	padding:12px 0;
}

#project-show-row td, #model-show-row td {
	padding:3px 8px;
  border-bottom:1px dotted #888;
  vertical-align:bottom;
	color:#777;
}

#project-search ul {
  list-style-type:none;
}

#project-new label {
  vertical-align:top;
  float:left;
  width:9em;
  text-align:right;
  margin-right:0.5em;
  clear:both;
}

#project-new input {
  margin-bottom:2em;
}

#project-new textarea {
  height:100px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~ Models ~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#model-edit {
	padding:20px 12px;
}
  
  .model-edit-label {
    float:left;
    width:8em;
    text-align:right;
    margin-right:0.5em;
    clear:both;
  }
  
  .model-edit-input {
    margin-bottom:1em;
  }
  
  .model-edit-input input {
    background:#eee;
  }

#model-show-row td {
	color:#000;
}

#model-action-links {
	padding:12px;
}

#model-action-links a{
	padding:0 12px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~ Data ~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#yogo-data-list ul {
  margin:0;
  padding:0;
}

#yogo-data-list ul li {
  list-style-type: none;
}

#data-index {
  border:1px dotted #214a5d;
  border-right:none;
  border-left:none;
  padding:12px;
  margin-top:20px;
}

  #data-index h3 {
    text-align:center;
  }

  #data-index th, #data-show th {
  	padding:8px;
  }

  #data-index td, #data-show td {
  	min-width:75px;
  	padding:4px;
  }

#pagination-links {
	padding:12px;
}

#search-data {
  margin-bottom:20px;
}

#upload {
	margin:20px 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	text-align:center;
}