- field_set_tag("Projects:") do
  = collection_select(:project, :project_id, Project.all, :id, :name, {:prompt => false, :include_blank => true})

- field_set_tag("Roles:") do
  - for group in Group.all do
    = check_box_tag(group.name)
    = label_tag(group.name)
