#users
  %table
    %thead
      %tr
        %th Login
        %th View
        %th Edit
        %th Destroy
    %tbody
      - for user in @users
        %tr
          %td= user.login
          %td= link_to('View', user_path(user))
          %td= link_to('Edit', edit_user_path(user))
          %td= link_to('Delete', user_path(user), :method=>:delete, :confirm => 'Are you sure?')