%h2
  Reset My Password:

-form_tag('email_reset_password') do
  Username:
  =text_field_tag 'username'
  %br
  Email Address for my user account:
  =text_field_tag 'email', nil, :size => 50
  %br
  =submit_tag 'Reset Password'