// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset"

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base.sass"

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint"

// Import the non-default scaffolding module.
@import "blueprint/scaffolding"

// Border Mixins
=borders
  border: 1px solid $border_color
=border-top
  border-top: 1px solid $border_color
  margin-top: -1px
=border-right
  border-right: 1px solid $border_color
  margin-right: -1px
=border-bottom
  border-bottom: 1px solid $border_color
  margin-bottom: -1px
=border-left
  border-left: 1px solid $border_color
  margin-left: -1px

body.bp
  +blueprint-debug
  +blueprint-interaction

form.bp
  +blueprint-form

// Base Body Styles
body
  +blueprint-typography(true)
  margin-left: 1em
  // Header (always blueprint layout)
  #header
    height: 65px
    margin-bottom: 1em
    width: 100%
    #menu
      background: #eeeeee url(image_url("shadow-bk.png")) repeat-x fixed top
      margin-top: -1em
      font-size: 0.9em
      +column($blueprint_grid_columns - 2)
      +last
      #menu-links
        +column(13)
        padding: 1em 0
      #search-tab
        +column(9)
        +last
        padding: 1em 0
        text-align: right
        .button-link
          font-size: 0.9em
          padding: 3px 2px 2px 2px
  // Flash Notices always use blueprint layout
  #flash
    +prepend(4)
    +column(14)
    +append(4)
    +last
    text-align: center
    height: 1em
    margin-bottom: 1em
    .error, .notice
      padding: 0
      p
        margin: 0
        padding: 0
  // Footer
  #footer
    +column($blueprint_grid_columns - 2)
    text-align: center
  // Pagination Links
  #pagination-links
    text-align: center
    +column($blueprint_grid_columns - 2)
    +last
  // Tables
  table
    border-collapse: collapse
    td
      border: 1px dotted #AAA
    th
      padding: 0
      line-height: 1em
      background-color: #f2f2f2
    .cycle-even
      background-color: #F2F2F2
    .data-table-actions
      padding: 0px
      .actions
        width: 60px
        text-align: center
  // Links
  a
    text-decoration: none
    &:hover
      text-decoration: underline
  // Button Links
  .button-links
    overflow: auto
    margin: 0px auto
    width: 505px
    a
      width: 230px
      margin: .5em
      float: left
      text-align: center
      display: block
  .button-link
    border: 1px solid #666666
    padding: .5em
    background-color: #f2f2f2
    color: #703824
    line-height: 2em
    &:hover
      background-color: #e2e2e2
      text-decoration: none
      cursor: pointer
  // H* Tags
  h1 
    font-size: 2.5em
    line-height: 1
    margin-bottom: 0.5em
  h2 
    font-size: 1.9em
    margin-bottom: 0.75em
  h3 
    font-size: 1.5em
    line-height: 1
    margin-bottom: 1em
  h4 
    font-size: 1.2em
    line-height: 1.25
    margin-bottom: 1.25em
  h5 
    font-size: 1em
    font-weight: bold
    margin-bottom: 1.5em
  h6 
    font-size: 1em
    font-weight: bold
  //General Styles
  .text-center
    text-align: center
  img
    border: 0

// Blueprint Body Container
body.bp
  // Header
  #container
    +container
    // To left align the grid
    margin: 0
  // Sidebar
  #sidebar
    $sidebar_columns: floor($blueprint_grid_columns / 4)
    +column($sidebar_columns)
  // Model Editor iFrame
  #editor_frame
    +column(22)
    +last
    height: 400px
    margin-bottom: 2em
  // Content Frame
  #content
    margin-top: 1em
    +column($blueprint_grid_columns)
    h1#content-title
      margin-top: 0
      text-align: left
      +column($blueprint_grid_columns - 2)
      +last
    #content-actions
      +column(22)
      +last
      margin: -.5em 0 1em 0
      .content-action-links
        +column(16)
      .content-pagination-links
        text-align: right
        line-height: 2em
        +column(6)
        +last
    h1#project-title
      margin-top: 0
    #content-block
      +column($blueprint_grid_columns - 2)
    // Yogo Dashboard
    .content-row-block
      +column(22)
      +last
      +borders
      margin: 0
      .project-icon
        +column(2)
        padding-top: 1em
      .project-text
        +column(9)
      .project-datasets
        margin-top: 1em
        +column(11)
        +last
    // Project Dashboard
    .dataset-name
      +column(6)
      +last
      h2
        text-align: center
        margin: .25em 0
      p
        margin-left: 2em
        font-style: italic
        font-size: .8em
      .action-links
        text-align: center
        margin-bottom: 1em
    .dataset-info
      +column(16)
      +last
      .action-tabs
        margin:
          top: .5em
          bottom: .5em
        +column(16)
        +last
      .dataset-table
        +column(16)
        +last
        +borders
        height: 12em
        padding: 0px
        overflow: auto
        font-size: .9em
        th
          border-bottom: 1px solid #CCC
          padding-bottom: 2px
      // Jquery UI Overrides
      .ui-tabs .ui-tabs-nav li a
        padding: 0.3em 0.5em
      .ui-tabs .ui-tabs-nav
        padding: 0.1em 0
        font-size: .9em
      .ui-tabs .ui-tabs-panel 
        padding: 0px
    // centered content containers
    .small-centered
      +prepend(4)
      +column(14)
      +append(4)
      +last
    .medium-centered
      +prepend(3)
      +column(16)
      +append(3)
      +last
      .left-column
        +column(8)
        +border(black)
      .right-column
        +column(8)
        +last
    .large-centered
      +prepend(2)
      +column(18)
      +append(2)
      +last
      
