// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
body.bp
  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box

form.bp
  +blueprint-form


// Page layout can be done using mixins applied to your semantic classes and IDs:
body.bp
  a 
    text-decoration: none
    &:hover
      text-decoration: underline

  // Header
  #header
    height:65px
    margin-bottom: 10px
    width: 100%
    #menu
      background: #EEE url(../images/shadow-bk.png) repeat-x fixed top
      margin-top: -10px
      font-size:0.9em
      width: 880px
      #menu-links
        float: left
        padding: 10px 3px 4px 3px
        margin-left: 10px
      #search-tab
        float: right
        padding: 7px 3px 4px 3px
        width: 360px
        .button-link
          font-size: .9em
          padding: 3px 2px 2px 2px

  #container
    +container
    // To left align the grid
    margin: 0px
    #flash
      +prepend(4)
      +column(14)
      +append(4)
      +last
      text-align: center
      height: 1em
      margin-bottom: 1em
      .error, .notice
        p
          margin: 0px
          padding: 0px
        
    .action-links
      margin-top: -1em

  #footer
    +column(!blueprint_grid_columns)
    text-align: center

  #sidebar
    !sidebar_columns = floor(!blueprint_grid_columns / 4)
    +column(!sidebar_columns)

  #content
    margin-top: 10px
    +column(!blueprint_grid_columns)
    h1#content-title
      +column(7)
      margin-bottom: -1px
      padding-bottom: 5px
      border: 1px solid silver
    #content-actions
      +column(7)
      +prepend(8)
      +last
      line-height: 3.1em
    #content-block
      +column(!blueprint_grid_columns - 2)
      border: 1px solid silver
    // Yogo Dashboard
    .project-block
      .project-icon
        +column(2)
      .project-text
        +column(9)
      .project-datasets
        +column(11)
        +last
    // centered content containers
    .small-centered
      +prepend(4)
      +column(14)
      +append(4)
      +last
    .medium-centered
      +prepend(3)
      +column(16)
      +append(3)
      +last
      .left-column
        +column(8)
        +border(#000)
      .right-column
        +column(8)
        +last
    .large-centered
      +prepend(2)
      +column(18)
      +append(2)
      +last

.text-center
  text-align: center
  
.boxed
  
.button-links 
  overflow: auto
  margin: 0px auto
  width: 505px
  a
    width: 230px
    margin: 5px
    float: left
    text-align: center
    display: block

.button-link 
  border: 1px solid #666
  padding: 5px
  background-color: #F2F2F2
  color: #703824
  line-height: 2em
  &:hover
    background-color: #E2E2E2
    text-decoration: none