<H2><em>Welcome to the Yogo Data Management Toolkit!</em></H2>

<p>The Yogo Data Management Toolkit is designed to help you manage your data. It provides the ability to create projects to organize your data. Tools are provided to collect your data into these projects and optionally develop a data model that can provide an organizational framework for your data.</p>

<p>To get started with the example project, <%= link_to('load the Example Project', loadexample_projects_path, :method => :post) %> and you can browse an example project with randomly generated data that represents an order fulfillment system for a company.</p>

<p>Also here is a <%= link_to('Tutorial', :controller =>"tutorial", :action=>"index") %> walkthrough of how to use the Yogo Data Management Toolkit to build a simple Recipes project.</p>
<p>You could also create a <%= link_to('new project', new_project_url) %> and upload data (from a CSV file) and start exploring.</p>