%h1#content-title= @project.name

= render(:partial => 'model_editor')

#content-actions
  = link_to("Refresh Attributes", refresh_attributes_project_yogo_models_path(@project),
      :method => :post, :class => 'button-link') 
  = link_to("Finish", project_path(@project), :class => 'button-link')
