#content
  %table
    %thead
      %th Permissions
      - for role in Role.all.sort
        %th= role.name
    %tbody
      - for perm in Role.available_permissions.each
        %tr
          %td= perm.humanize
          - for role in Role.all.sort
            %td= check_box_tag("role[permissions][]", perm.to_s, role.permissions.include?(perm), :id => "role_permission_#{p}")
            
