<div id="project-<%= @project.id %>-models">
  <ul>
  <% @models.each do |model| %>
    <% mname = model.name.demodulize %>
      <%= render :partial => 'layouts/expand_attributes', :locals => { :proj => @project, :mod => mname } %>
  <% end %>
  </ul>
</div>