- visualization("#{project.id.to_s}", 'map', { :enableScrollWheel => true, :showTip => true, :useMapTypeControl => true, :html => { :class => class_name } }) do |map|
  - map.register_column(:number, :Lat)
  - map.register_column(:number, :Lon)
  - map.register_column(:string, :Name)
  - sites = project.managed_repository{ Voeis::Site.all }
  - sites.each do |site| 
    - map.add_row([site.latitude, site.longitude, site.name])
  = ""