- content_for(:javascripts) do
  :javascript
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
    dojo.require("voeis.Server");
    
    projectsDataStore = voeis.Server.DEFAULT.projectsDataStore();

- content_for(:stylesheets) do
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/EnhancedGrid.css")
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/claro/EnhancedGrid.css")

%table{:id => 'projects_table', :dojoType => "dojox.grid.EnhancedGrid", :store => "projectsDataStore", :plugins => "{indirectSelection: true}"}
  %thead
    %tr
      %th{:field => "name", :width => "50%"} Project
      %th{:field => "id", :width => "50%"} ID
  %script{:type => "dojo/method", :event => "onSelected", :args => "idx"}
    :plain
      console.log("selected:");
      console.log(arguments);
      var map = dijit.byId('split_map');
      var item = this.getItem(idx);
      map.store.add(item);
  %script{:type => "dojo/method", :event => "onDeselected", :args => "idx"}
    :plain
      console.log("deselected:");
      console.log(arguments);
      var map = dijit.byId('split_map');
      var item = this.getItem(idx);
      map.store.remove(item.id);
      
      
