- content_for(:javascripts) do
  :javascript
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
    dojo.require("voeis.Server");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("voeis.ui.SitePane");
    dojo.require("voeis.ui.ProjectSitesGrid");
    
    projectsDataStore = voeis.Server.DEFAULT.projectsDataStore();

- content_for(:stylesheets) do
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/EnhancedGrid.css")
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/claro/EnhancedGrid.css")

#tab_browser{:dojoType => "dijit.layout.TabContainer"}
  %table{:id => 'projects_table', :title => "Projects", :dojoType => "dojox.grid.EnhancedGrid", :store => "projectsDataStore", :plugins => "{indirectSelection: true}"}
    %thead
      %tr
        %th{:field => "name", :width => "auto"} Project
    %script{:type => "dojo/method", :event => "onRowDblClick", :args => "evt"}
      :plain
        var item = this.getItem(evt.rowIndex);
        var id = item.id;
        dojo.publish("voeis/project/browse", [id]);
    %script{:type => "dojo/method", :event => "onSelected", :args => "idx"}
      :plain
        console.log("selected:");
        console.log(arguments);
        var map = dijit.byId('split_map');
        var item = this.getItem(idx);
        map.store.add(item);
    %script{:type => "dojo/method", :event => "onDeselected", :args => "idx"}
      :plain
        console.log("deselected:");
        console.log(arguments);
        var map = dijit.byId('split_map');
        var item = this.getItem(idx);
        map.store.remove(item.id);

:javascript
  (function(){
    var openSiteTab = function(tabs, projectId, siteId) {
      var sitePane = new voeis.ui.SitePane();
      tabs.addChild(sitePane);
      sitePane.set({projectId: projectId, siteId: siteId});
      tabs.selectChild(sitePane);
    };

    var openSitesGridTab = function(tabs, projectId) {
      var sitesGrid = new dojox.grid.EnhancedGrid({
        title: projectId,
        closable: true,
        store: voeis.Server.DEFAULT.projectSitesDataStore(projectId),
        structure: [
          {field: 'name', name: "Site", width: "auto"},
          {field: 'state', name: "State", width: "auto"}
        ]
      });    
      
      tabs.addChild(sitesGrid);
      tabs.selectChild(sitesGrid);
    };

    dojo.subscribe("voeis/project/site/selected", function(projectId, siteId) {
      console.log(arguments);
      var tab_browser = dijit.byId('right_tabs');    
      openSiteTab(tab_browser, projectId, siteId);
    });

    dojo.subscribe("voeis/project/browse", function(projectId) {
      var tabs = dijit.byId('tab_browser');
      //openSitesGridTab(tabs, projectId);
      var grid = voeis.ui.ProjectSitesGrid(projectId);
      tabs.addChild(grid);
      tabs.selectChild(grid);
    });
  })();
  

      
