<h1><%= @project.name %></h1>
<table>
  <thead>
    <tr>
      <th>Project Models</th>
      <th>Project Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= render :partial => 'yogo_models/model_list' %></td>
      <td><%= render :partial => 'yogo_data/model_list' %></td>
    </tr>
  </tbody>
</table>
<%= render :partial => 'upload' %>