<h2><%=link_to(@project.name, project_path(@project) )%></h2>
<div id="graphs">
  <% @sites.each do |site| %>
    <h3><a href="#"><%=site.name%></a></h3>
    <div width="600px" height="400px">
    <%if @site_data[site.code].to_s != "{}"%>
      <div width="600px" height="400px">
      <% site.data_streams.each do |data_stream| %>
        <%= data_stream.name %>
        <% visualization "my_graph:"+data_stream.name, "LineChart", :width => 600, :height => 400, :html => {:class => "graph_chart"} do |agraph| %>
          <% agraph.datetime "Timestamp" %>
          <% data_stream.data_stream_columns.each do |col|%>
            <%if !col.variables.empty?%>
              <% agraph.number "#{col.variables.first.variable_name}" %>
            <%end%>
          <% end%>
          <% row_array = Array.new%>
          <% if !data_stream.data_stream_columns.empty? %>
            <% if !data_stream.data_stream_columns.first(:name.not => "Timestamp").sensor_types.empty? %>
              <% data_stream.data_stream_columns.first(:name.not => "Timestamp").sensor_types.first.sensor_values.each do |sens_val|%>
                <% row_array = Array.new%>
                <% row_array << sens_val.timestamp.to_datetime %>
                <%data_stream.data_stream_columns.all(:name.not => "Timestamp").sensor_types.each do |sens| %>
                  <%val = sens.sensor_values.first(:timestamp.gte => sens_val.timestamp)%>
                  <%if !val.nil?%>
                    <% row_array << val.value %>
                  <% else%>
                    <% row_array << 0 %>
                  <%end%>
                <%end%>
                <%agraph.add_row (row_array)%>
              <%end%>
            <%end%>
          <%end%>
        <% end %>
        <% visualization "my_table:"+data_stream.name, "Table", :width => 1000, :height => 400, :html => {:class => "g_table"} do |chart| %>

          <% chart.datetime "Timestamp" %>
          <% data_stream.data_stream_columns.each do |col|%>
            <%if !col.variables.empty?%>
              <% chart.number "#{col.variables.first.variable_name}" %>
            <%end%>
          <% end%>
          <% row_array = Array.new%>
          <% if !data_stream.data_stream_columns.empty? %>
            <% if !data_stream.data_stream_columns.first(:name.not => "Timestamp").sensor_types.empty? %>
              <% data_stream.data_stream_columns.first(:name.not => "Timestamp").sensor_types.first.sensor_values.each do |sens_val|%>
                <% row_array = Array.new%>
                <% row_array << sens_val.timestamp.to_datetime %>
                <%data_stream.data_stream_columns.all(:name.not => "Timestamp").sensor_types.each do |sens| %>
                  <%val = sens.sensor_values.first(:timestamp.gte => sens_val.timestamp)%>
                  <%if !val.nil?%>
                    <% row_array << val.value %>
                  <% else%>
                    <% row_array << 0 %>
                  <%end%>
                <%end%>
                <%chart.add_row (row_array)%>
              <%end%>
            <%end%>
          <%end%>
        <% end %>
      <% end %>
      </div>
      <%else%>
        <div width="600px" height="400px">There is currently no data for this site.</div>
      <%end%>
    </div>
    <%end%>
</div>