<h2><%=link_to(@project.name, project_path(@project) )%></h2>
<div id="graphs", width = "600px", height = "400px">
  <% @sites.each do |site| %>
    <h3><a href="#"><%=site.site_name%></a></h3>
    <div>
    <%if @site_data[site.site_code].to_s != "{}"%> 

      <% visualization "my_chart", "MotionChart", :width => 600, :height => 400, :html => {:class => "graph_chart"} do |chart| %>

      	<% chart.string "Fruit" %>
      	<% chart.date "Date" %>
      	<% chart.number "Sales" %>
      	<% chart.number "Expenses" %>
      	<% chart.string "Location" %>


      	<% chart.add_rows([
      			["Apples", Date.new(1998,1,1), 1000,300,'East'],
      			["Oranges", Date.new(1998,1,1), 950,200,'West'],
      			["Bananas", Date.new(1998,1,1), 300,250,'West'],
      			["Apples", Date.new(1998,2,1), 1200,400,'East'],
      			["Oranges", Date.new(1998,2,1), 950,150,'West'],
      			["Bananas", Date.new(1998,2,1), 788,617,'West']
      		]) %>
      <% end %>
      
     
      <%else%>
        <div>There is currently no data for this site.</div>
      <%end%>
    </div>
    <%end%>
</div>
