%h1 Search
-remote_form_for :query, @query, :url => { :action => 'search'} do |f|
  
  Variable: 
  =select_tag("variable", @var_options)
  
  Site: 
  =select_tag("site", @site_options)
  =clear_break
  Dates After: 
  = date_select('range', 'start_date', :order => [:month, :day, :year])
  Dates Before: 
  = date_select('range', 'end_date', :order => [:month, :day, :year])
  =clear_break

  = f.submit('Search')
=clear_break

#search_results