# Yogo Data Management Toolkit
# Copyright (c) 2010 Montana State University
#
# License -> see license.txt
#
# FILE: database.yml.start
#
#

development:
  adapter: sqlite3
  database: db/sqlite3/development.sqlite3

production:
  adapter: sqlite3
  database: db/sqlite3/production.sqlite3

test:
  adapter: sqlite3
  database: db/sqlite3/test.sqlite3

settings:
  adapter: yaml
  database: db/settings.yml

yogo_development:
  adapter: persevere
  versioned: true
  host: localhost
  port: 8080

yogo_production:
  adapter: persevere
  versioned: true
  host: localhost
  port: 8080

# run with bin/persvr -p 8081
yogo_test: &YOGO_TEST
  adapter: persevere
  versioned: true
  host: localhost
  port: 8081

yogo_cucumber:
  <<: *YOGO_TEST
