<H3><%= @model.name.demodulize.titleize %></H3>
<br />
<%- form_for(@item, :url => project_yogo_data_path(@project, @model.name.demodulize, @item.id)) do |f| -%>
<table>
  <thead>
  </thead>
  <tbody>
      <%- @model.properties.each do |p| %>
      <tr>
      <td><%= f.label(p.name, p.name.to_s.titleize) %></td>
      <td><%= f.text_field(p.name) %></td>
      </tr>
      <%- end %>
  </tbody>
</table>
<br />
<%= f.submit %>
<%- end -%>

