<H3><%= @model.name.demodulize.titleize.singularize %></H3>
<br />
<%- form_for(@item, :url => project_yogo_data_index_path(@project, @model.name.demodulize), 
                    :builder => YogoDataFormBuilder,
                    :html => { :method => :post, :enctype => 'multipart/form-data' } ) do |f| -%>
<table>
  <thead>
  </thead>
  <tbody>
      <%- @model.properties.each do |p| %>
        <% if p.name != :id %>
          <tr>
            <td><%= f.label(p.name, p.name.to_s.titleize) %>: </td>
            <td><%= f.field_for_param(p) %></td>
          </tr>
        <%- end -%>
      <%- end %>
  </tbody>
</table>
<br />
<%= f.submit %>
<%- end -%>
