<H3><%= @model.name.demodulize.titleize.singularize %></H3>
<br />
<%- form_for(:item, @item, :url => {:controller => "yogo_data", :action => "create"}) do |f| -%>
<table>
  <thead>
  </thead>
  <tbody>
      <%- @model.properties.each do |p| %>
        <% if p.name != :id %>
          <tr>
            <td><%= f.label(p.name, p.name.to_s.titleize) %>: </td>
            <td><%= f.text_field(p.name) %></td>
          </tr>
        <%- end -%>
      <%- end %>
  </tbody>
</table>
<br />
<%= f.submit %>
<%- end -%>
