%h1#content-title= @project.name + ": Describe Experiment"

%iframe(src="#{kefed_editor_swf_url}" width="100%" height="500")
  %p Your browser does not support iframes.

.text-center
  = link_to("Save and Continue", @project, :class => 'big-button-link')