.description-column
  #intuitive.tight.rbox
    %h3 Intuitive
    %p The Yogo Toolkit was designed and tested with scientists in mind, not database administrators. The user interface and workflow is simple and straightforward. 

  #powerful.tight.rbox
    %h3 Powerful
    %p With the help of Yogo's specially designed dataset editor, you can describe your data and begin from scratch in minutes. Or, if you choose, you can start off by importing data from a spreadsheet file to create your database.

  #flexible.tight.rbox
    %h3 Flexible
    %p Unlike the majority of data management tools, Yogo makes it effortless to revise and develop your database as you go. You can make changes at any time without worrying that your data will be lost.

.title-column
  %h1.text-center Welcome to the<br />Yogo Data Management Toolkit
  .text-center
    = link_to("Create a Project", new_yogo_project_path, :class => 'big-button-link') 

  / #getting-started
  /    .happy.rbox
  /      %h3 Try It Out
  /      %p Try out the sysetem with the example project, #{link_to('load the Example Project', loadexample_yogo_projects_path, :method => :post)} and you can browse an example project of the data collected by Dr. Gwen Jacobs of the cricket cercal system.
  /      .text-center
  /        = link_to("Load Example Project", loadexample_yogo_projects_path, :class => 'medium-button-link', :method => :post)
