<div id="cookbook-tutorial">

<script>
  $(function(){
  
    var wrap2 = $('#wrapper');

    				$('.action').click(function(){
    					var action = $(this).attr('rel'); // get the appropriate action from the rel attribute
    					wrap2.trigger(action+'.evtpaginate');
    					return false;
    				});

    				$('select[name=perpage]').change(function(){
    					wrap2.trigger('refresh.evtpaginate', { perPage : $(this).val() } );
    					return false;
    				});

    				// listen out for events triggered by the plugin to update the counter

    				wrap2.bind( 'initialized.evtpaginate', function(e, startnum, totalnum ){
    					$('#count2').text(startnum);
    					$('#total2').text(totalnum);
    				}); 

    				wrap2.bind( 'finished.evtpaginate', function(e, num, isFirst, isLast ){ $('#count2').text(num); } ); 	

    				wrap2.evtpaginate({perPage:1, atEnd:'loop'}); // call the plugin!

});


</script> 
  
  <a class="action" href="#" rel="first">first</a> | 
  			<a class="action" href="#" rel="prev">prev</a>

  			(<span id="count2"></span> / <span id="total2"></span>)
  			<a class="action" href="#" rel="next">next</a> | 
  			<a class="action" href="#" rel="last">last</a> | show :
  			 <select name="perpage">
  			 	<option value="1">1 per page</option>
  				<option value="2">2 per page</option>

  				<option value="5">5 per page</option>
  			 </select>
<ul id="wrapper" class = "wrapper">  
  <li>
  <p >This tutorial will cover how to use the Yogo Data Management
  Toolkit to create a Recipes project for storing your recipes.  This is a very
  simple introduction to ease you into using this tool.</p>


  </li>
  <li>
  <p >From the Yogo Data Management Toolkit homepage begin
  creating a recipe project by clicking the "Create a Project" link on the
  sidebar to the left of the screen.</p>


  <p ><img width=600 height=400
  id="Picture 1" alt="homepage" src="/images/yogo_recipe_tutorial_files/Tutorial1.jpg"></p>
  </li>
  <li>

  <p >On the Create Project screen fill in the "Project Name"
  field with "Cookbook" and fill the "Project Description" text area with
  something like "This is a collection of recipes for delicious foods I enjoy
  making."  Then click the "Create" button to create the Recipes project.</p>

  <p ><img width=600 height=400
  id="Picture 2" alt="Create project" src="/images/yogo_recipe_tutorial_files/Tutorial2.jpg"></p>
  </li>
  <li>
  <p >Now a message should appear saying "Project "Cookbook" has
  been created" and the projects index page should now display a link to "Cookbook"
  and the sidebar should also now have a link to "Cookbook".  Click either of the
  "Cookbook" links for the next step.</p>

  

  <p ><img width=600 height=400
  id="Picture 3" alt="Project created" src="/images/yogo_recipe_tutorial_files/Tutorial3.jpg"></p>

  
  </li>
  <li>
  <p >The "Cookbook" project should now be loaded into the current
  view.  The title of the currently selected project "Cookbook" and the description
  should appear at the top of the view.  Under the description and "Remove Project" button 
  is the heading
  "Models Data" and this area is currently empty as no models have been created
  yet.  Below that the "Data file upload" heading contains a file upload field. 
  This field is for loading CSV files, that conform to the Yogo Data Management
  ToolkitÕs formatting expectations, to create new models and fill them with
  data.  The CSV feature will be addressed in more detail later in the tutorial. 
  For now look at the link "Create a new model" below the file upload field and
  click it to create a new model for the "Cookbook" project.</p>

  

  <p ><img width=600 height=400
  id="Picture 4" alt="Empty Cookbook project" src="/images/yogo_recipe_tutorial_files/Tutorial4.jpg"></p>

  
  </li>
  <li>

  <p >The "Create a new model for Cookbook" page should be visible
  now.   First fill in the field "Model name" with "Recipe" this model will
  contain the attributes of a recipe when we are done.  Next fill in the
  "Property Name" field with "Name" as every recipe should have a delicious
  sounding name. For the "Type" drop down selection box choose "Text" since we
  would like our Name to be in words rather than numbers, dates etc.</p>

  <p ><img width=600 height=400
  id="Picture 5" alt="Create a Recipe model" src="/images/yogo_recipe_tutorial_files/Tutorial5.jpg"></p>
  </li>
  <li>

  <p >Now seeing as our recipe should probably have other
  attributes or properties, as we like to refer to them within our model
  definition, we should add another property.  So click on the "Add a property"
  link and a new "Property Name" field and corresponding "Type field should pop
  up directly below the "Name" property.</p>

  

  <p ><img width=600 height=400
  id="Picture 6" alt="Create a Recipe model" src="/images/yogo_recipe_tutorial_files/Tutorial6.jpg"></p>
  </li>
  <li>

  <p >With this second property field present we can now  add a
  "Category" since we would like to categorize these recipes i.e(Dessert, Breads,
  Meat etc).  For the "Type" drop down selection box choose "Text". </p>

  

  

  <p ><img width=600 height=400
  id="Picture 7" alt="Create a Recipe model" src="/images/yogo_recipe_tutorial_files/Tutorial7.jpg"></p>

  
  </li>
  <li>

  <p >Now lets add a third property and call it "Ingredients" and
  it will be of "Type" "Text".</p>

  <p ><img width=600 height=400
  id="Picture 8" alt="Create a Recipe model"  src="/images/yogo_recipe_tutorial_files/Tutorial8.jpg"></p>

  

  <p >Ok now that we have that filled in lets save our finished
  "Recipe" model.  Click the "Save" buton.</p>

  
  </li>
  <li>

  <p ><img width=600 height=400
  id="Picture 9" alt="Recipe model saved" src="/images/yogo_recipe_tutorial_files/Tutorial9.jpg"></p>

   

  <p >Uh oh...  Now that I think out it looks like we forgot an
  important propertyÉ DIRECTIONS of course.  No problem we can simply click on
  the "Edit Recipe" link to add "Directions" to our "Recipe" model.</p>

  
  </li>
  <li>

  <p ><img width=600 height=400
  id="Picture 10" alt="Edit Recipe model" src="/images/yogo_recipe_tutorial_files/Tutorial10.jpg"></p>

  <p >Fill in the "Property Name" field just as before with
  "Directions" and select "Text" for the "Type".  Then click "Save" again.</p>

  
  </li>
  <li>

  <p ><img width=600 height=400
  id="Picture 11" alt="Recipe properties added" src="/images/yogo_recipe_tutorial_files/Tutorial11.jpg"></p>

  <p >You can now see the "Recipe" model page and a message saying
  "Properties added" which refers to the "Directions " property we just finished
  adding.  Note that a table of all the properties in the "Recipe" model is
  displayed with a corresponding Data type.  You may have noticed that there is a
  property that we didnÕt add &#8211; Id.  The Id property is a unique Integer (non-decimal
  number) identifier that the Yogo Data Management Toolkit creates automatically
  to ensure each entry is unique.  Now that we are reasonably satisfied we can
  describe a recipe using the properties in our "Recipe" model.  We can move onto
  adding recipes or data to our "Cookbook" project.  So first find the "Cookbook"
  link on the sidebar and click it.</p>
  </li>
  <li>

  <p ><img width=600 height=400
  id="Picture 12" src="/images/yogo_recipe_tutorial_files/Tutorial12.jpg"></p>

  <p >Okay we are back at the "Recipe" project page but you will
  now see that our "Recipe" model is under "Models Data".  The "Models Data" is
  actually a table listing models that our project has, in our case just
  "Recipe", and the data associated with that model, for this example we see (0) because
  there are 0 recipes stored thus far.  Also note that "Recipe" is a link that
  will take you to the "Recipe" model page and the Data columns "(0)" is also a
  link that will take us to the data page for the "Recipe".  Go ahead and click
  the "Recipe" link in the table to see where it takes you.</p>

  
  </li>
  <li>

  <p ><img width=600 height=400
  id="Picture 13" src="/images/yogo_recipe_tutorial_files/Tutorial13.jpg"></p>

  <p >You now can see the "Recipe" model page with our table of properties
  for the model.  Lets go back to the project page by clicking the "Cookbook" link
  in the sidebar.</p>

  
  </li>
  <li>

  <p ><img width=600 height=400
  id="Picture 14" src="/images/yogo_recipe_tutorial_files/Tutorial12.jpg"></p>

  <p >So now lets add some recipe information.  We have two options: Click the "(0)"
  link under the Data column or click the "Recipe" link under the "Cookbook" link on the sidebar.  Both links will take you to a page to view and add recipes.</p>
  </li>
  <li>

  <p ><img width=600 height=400
  id="Picture 15" src="//images/yogo_recipe_tutorial_files/Tutorial15.jpg"></p>

  <p >We are now on the "Recipe" data page. On this page we can
  search our recipes, add data via the "Add Data" link, view the current data in
  "Recipe" in a table format and upload/download CSV files.  For now let us add a
  recipe.  Click the "Add Data" link.</p>
  </li>
  <li>

  <p ><img width=600 height=400
  id="Picture 16" src="/images/yogo_recipe_tutorial_files/Tutorial16.jpg"></p>

  <p >For our first recipe we are going to add the simplest
  culinary delight ever &#8211; boiled water.  So fill in the "Name" field with
  "Boiling Water, the "Category" field with "Soup", the Ingredients field with "1
  cup of Water", and the "Directions" field with "Add 1 cup of water to pot and
  boil".  Now click "Save" and we have added our first recipe!</p>

  
  </li>
  <li>

  <p ><img width=600 height=400
  id="Picture 17" src="/images/yogo_recipe_tutorial_files/Tutorial17.jpg"></p>

  <p >We are now back at the "Recipe" data page and the "Recipe"
  table now shows our recipe for boiling water and a message in the gray box
  indicating a successful creation of a new "Recipe".  Note that Yogo
  automatically assigned an Id of 1 to the new recipe.</p>

  
  </li>
</ul>




</div>
