<h3>Cookbook Tutorial</h3>
<div id="tutorial_content">
  <div id='tabs' style = "visibility:hidden">
    <ul>
        <li><a href="#simple">Simple Tutorial</a></li>
        <li><a href="#csv">CSV Tutorial</a></li>
    </ul>
    <div id="simple">
        <%= render :partial => 'simple_tutorial' %>
    </div>
    <div id="csv">
       <%= render :partial => "csv_tutorial"%>
    </div>
  </div>
</div>
