
<div id='footer'>
    <div id='partner-logos'>
    </div>
    <div id='yogo-brand'>
        <%= link_to(image_tag("yogo.png", :alt => "The Yogo Data Management Toolkit Logo"), 'http://yogo.msu.montana.edu/') %><!-- <br/>Powered by Yogo. -->
    </div>

</div>