- unless Setting['local_only']
  #login-links
    - if logged_in?
      = link_to(current_user.login, edit_user_path(current_user))
      |
      = link_to("logout", logout_path)
    - else
      = link_to("Login", login_path)