- unless Setting['local_only']
  #login-links
    - if logged_in?
      Logged in as
      = link_to(current_user.login, edit_user_path(current_user), :class => 'logged-in-link')
      = link_to("Logout", logout_path, :class => 'logout-link')
    - else
      = link_to("Login", login_path, :class => 'login-link')