.menu-links
  = link_to("Home", root_url)
  /= render_dashboard_jump_box
  / We should come up with a better way to check if the system role is an 'admin' or not.
  - if logged_in? && current_user.system_role.name.eql?('Administrator')
    = link_to("Administration", page_url(:admin))
  = link_to("About", page_url(:about))
  = link_to("Help", page_url(:help), :target => 'blank')
  %label{:id => "issue", :onclick=>"$('#feedback').toggle('fold');", :class => "icon icon-issue", :onmouseover =>"this.style.cursor='hand'"}Report-Issue