#menu-links
  = [ link_to("Home", root_url), 
      link_to("About", page_url(:about), :target => 'blank'),
      link_to("Help", "http://yogo.msu.montana.edu/", :target => 'blank')].join(" | ")
      