#menu-links
  = link_to("Home", root_url, :class => 'menu-link')
  - if logged_in? && current_user.admin
    = link_to("Administration", page_url(:admin), :class => 'menu-link')
  = link_to("About", page_url(:about), :class => 'menu-link')
  = link_to("Help", "http://yogo.msu.montana.edu/", :target => 'blank', :class => 'menu-link')
