#menu-links
  = [ link_to("Dashboard", root_url), 
      link_to("About", "http://yogo.msu.montana.edu/", :target => 'blank'),
      link_to("Help", "http://yogo.msu.montana.edu/", :target => 'blank')].join(" | ")