<div id="sidebar">
  <div class='bold'><%= link_to("Yogo Dashboard", root_url) %></div>
  <div>&mdash;<%= @project.name %></div>
  <ul class='nav-items'>
    <% @project.models.each do |model|%>
      <li><%= model.name %></li>
    <% end %>
  </ul>
</div>
