- content_for(:javascripts) do
  :javascript
    dojo.require("voeis.maps.google.ProjectsMap");
    
- content_for(:content) do
  #main_split{:dojoType => "dijit.layout.BorderContainer", :design => "sidebar", :gutters => "false"}
    #right_tabs{:dojoType => "dijit.layout.TabContainer", :region => "right", :gutters => "false", :style => "padding:0;width:50%"}
      #map_pane{:dojoType => "dijit.layout.ContentPane", :title => "Sites Map"}
        %div{:id => "split_map", :dojoType => "voeis.maps.google.ProjectsMap", :markerIcon => "/images/site_marker_25.png", :style => "width:100%;height:100%;"}
    #content_pane{:dojoType => "dijit.layout.ContentPane", :region => "center", :gutters => "false", :style => "padding:0"}
      = content_for?(:content_pane) ? yield(:content_pane) : yield

= render :file => 'layouts/application'

