- content_for(:javascripts) do
  :javascript
    dojo.require("voeis.maps.google.Map");
    
- content_for(:content) do
  #main_split{:dojoType => "dijit.layout.BorderContainer", :design => "sidebar", :gutters => "false"}
    #map_pane{:dojoType => "dijit.layout.ContentPane", :region => "right", :gutters => "false", :style => "padding:0;width:50%"}
      %div{:id => "split_map", :dojoType => "voeis.maps.google.Map", :style => "width:100%;height:100%;"}
    #content_pane{:dojoType => "dijit.layout.ContentPane", :region => "center", :gutters => "false"}
      = content_for?(:content_pane) ? yield(:content_pane) : yield

= render :file => 'layouts/application'

